.details-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.form-container {
  display: flex;
  flex-direction: column;
  border-width: 3px;
  width: 90%;
  height: 60%;
  align-self: center;
}
.form {
  display: flex;
  flex-direction: column;
}

.person-details {
  margin-top: 15px;
}

::ng-deep .mat-form-field {
  margin: 10px !important;
}

.upload-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.file-name {
  margin-left: 15px;
}
